<%
title = 'Главная';
%>

<div class="welcome">
    <h2>Добро пожаловать в Book API!</h2>
    <p>Это приложение для управления коллекцией книг. Вы можете:</p>
    <ul>
        <li>📖 Просматривать список всех книг</li>
        <li>➕ Добавлять новые книги с обложками и файлами</li>
        <li>✏️ Редактировать информацию о книгах</li>
        <li>🗑️ Удалять книги</li>
        <li>📥 Скачивать файлы книг</li>
    </ul>
    
    <div style="margin-top: 2rem;">
        <a href="/books" class="btn">Просмотреть все книги</a>
        <a href="/books/create" class="btn btn-success">Добавить новую книгу</a>
    </div>
</div>